/*
 * Override the variables you want to customize, all variables can refer to: 
 * 
 * node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 * 
 */

$brand-color-dark: #003768;



$screen-lg:                  1280px;


//$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif:  "Raleway", Helvetica, Arial, sans-serif;

//$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-serif:       "EB Garamond", Georgia, "Times New Roman", Times, serif;

//$font-family-base:        $font-family-sans-serif !default;
$font-family-base:        "Open Sans", Helvetica, Arial, sans-serif;

// custom bold font
$font-family-sans-bold:  "Montserrat", Helvetica, Arial, sans-serif;


$navbar-default-bg: 	#fff;

$link-hover-decoration: none;

$navbar-height: auto;

$navbar-padding-vertical: 20px;

$navbar-default-link-color: #464646;

$navbar-default-link-active-color: $brand-color-dark; 

$navbar-default-link-active-bg: transparent;

$navbar-default-toggle-icon-bar-bg: $brand-color-dark;

$navbar-default-toggle-border-color: transparent;


$btn-primary-bg:$brand-color-dark;