@import "override-variables";


//@import "bootstrap";  
@import "bootstrap-custom";
@import "bootstrap/theme";

body{
	$layout-default-bg-start: rgba(0, 55, 104, 0.08);
	$layout-default-bg-end: rgba(255, 255, 255, 0.08);
	@include gradient-vertical($start-color: $layout-default-bg-start , $end-color: $layout-default-bg-end);
}
img{
	@include img-responsive;
}


.container{
	width:auto;
	max-width:1530px+$grid-gutter-width;
}
.btn{	
	border-radius:100px;
	box-shadow:none;
	font-size: 14px;
    line-height: 23px;
    letter-spacing: 1px;
	padding:11px 43px 9px;
	white-space:normal;
	font-family:$font-family-sans-serif;
}
.btn-primary{
	background:$brand-color-dark;
}

.nopadding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.top-panel{
	padding:0;
	margin:0;
	text-align:right;
	font-size:0;
	line-height:0;
	font-family: Arial, Helvetica, sans-serif;
}
.top-panel > li{
	display:inline-block;
	vertical-align:top;
	text-align:center;
	min-width:250px;
	font-size:13px;
	line-height:17px;
	font-family:$font-family-sans-serif;
}
.login-block a{
	display:block;
	background:$brand-color-dark;
	color:#fff;
	position:relative;
	text-transform:uppercase;
	padding:9px 32px 12px 49px;
}
.login-block a:hover{
	opacity:.9;
	text-decoration:none;
}
.login-block a:after{
	content:'';
	position:absolute;
	left:21px;
	top:50%;
	width:15px;
	height:15px;
	margin-top:-10px;
	background:url('../../dist/images/login-icon.png') 0 0 no-repeat;
}

.lang-block ul{
	margin:0;
	padding:0;
	background: #f3f3f3;
	padding:10px 34px 11px 39px;
}
.lang-block li{
	display:inline-block;
	vertical-align:top;
	position:relative;
}
.lang-block li:not(:first-child){
	padding-left:20px;
}
.lang-block li:not(:first-child):after{
	content: '/';
    position: absolute;
    left: 2px;
    top: 0;
    color: #acacac;
    font-size: 20px;
    line-height: 20px;
}
.lang-block a{
	display:block;
	text-transform:uppercase;
	color: #acacac;
}
.lang-block a.active,
.lang-block a:hover{
	color: #555555;
}
.lang-block a.active{
	pointer-events:none;
}

.navbar-default{
	$shadow: 0 1px 0 rgba(0,0,0,.05);
	@include box-shadow($shadow);
	padding-bottom: 9px;
	.navbar-nav{
		position:relative;
		> .open > a,
		> .active > a,
		> .active > a:hover{
			background:none;
			@include box-shadow(none);
			
		}
	}
	.navbar-nav > li > a{
		border-bottom: 3px solid transparent;
	}
	.navbar-nav > li:not(:last-child) > a:hover {
		//border-bottom: 3px solid $brand-color-dark;
	}
}
.navbar-fixed-top{
	border:none;
}

.navbar-header{
	position:relative;
}
.navbar-toggle{
	position:absolute;
	right:15px;
	top:50%;
	margin:-17px 0 0;
	border-radius:0;
	border:0;
}
.navbar-brand{
	padding:28px 80px 28px 15px;
}
.search-link{
	font-size:13px;
	color:#484848;
	opacity:.7;
}
.search-link:hover{
	opacity:1;
}
.nav .js-nav-decorator{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background: transparent;
	transition: width .3s, background .3s, left .3s;
}
.nav:hover .js-nav-decorator{
	background: $brand-color-dark;
}

.layout{
	padding-top:128px;
}

.carousel-inner{
	background:#fff;
	$shadow: 0 1px 4px rgba(0,0,0,.1);
	@include box-shadow($shadow);
	margin-bottom:30px;
	.item{
		font-size:0;
		line-height:0;
		font-family: Arial, Helvetica, sans-serif;
		.col-md-6{
			img{
				width:100%;
			}
		}
	}

}
.carousel-indicators {
  position: absolute;
  bottom: 9px;
  left:auto;
  width:auto;
  right: 18px;
  z-index: 15;
  padding: 0 40px 0 0;
  list-style: none;
  text-align: center;

  li {
  	width:auto;
  	height:auto;
  	border:none;
  	font-size: 11px;
  	font-weight: 600;
  	display: inline-block;
  	padding: 0 5px;
    margin: 0;
    cursor: pointer;
  	text-indent: 0;
    opacity:.6;
    color:#fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .4);
  	&.active,
  	&:hover {
  	  opacity:1;
  	  width:auto;
  	  height:auto;
  	  margin: 0;
  	  background: transparent;
  	}
  }
  &:after{
  	content:'';
  	width:30px;
  	height:30px;
  	position:absolute;
  	right:0;
  	top:50%;
  	margin-top:-15px;
  	background:url('../../dist/images/cross-icon.png') 0 0 no-repeat;
  }
}
.carousel-content{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px 70px 50px;
	span{
		font-size:12px;
		line-height:25px;
		letter-spacing:1.3px;
		padding:0 3px;
		text-transform:uppercase;
		font-family:$font-family-sans-bold;
		color: #898989;
	}
	h3{
		font-family:$font-family-serif;
		color:$brand-color-dark;
		font-size:22px;
		line-height:26px;
		letter-spacing: 0.1px;
		position:relative;
		margin:2px 0 10px;
		&:after{
			content: '';
			position:absolute;
			left:-23px;
			top:9px;
			bottom:9px;
			width:8px;
			background:$brand-color-dark;
		}
	}
	a{
		font-family:$font-family-base;
		font-size:15px;
		line-height:22px;
		letter-spacing: -0.5px;
		color: #75a8f6;
		font-weight: 600;
		&:hover,
		&:active{
			color:$brand-color-dark;
		}
	}
}
.block-title{
	margin:0 0 9px;
	color:$brand-color-dark;
	text-transform:uppercase;
	font-family:$font-family-sans-bold;
	font-size:12px;
	line-height:18px;
	letter-spacing:1.5px;
}
.helpful-links{
	.link-item{
		display:block;
		margin-bottom:32px;
		background: #fff;
		font-size: 18px;
	    line-height: 23px;
	    color:$brand-color-dark;
		$shadow: 0 1px 4px rgba(0,0,0,.1);
		@include box-shadow($shadow);
		img{
			width:100%;
			max-width:none;
		}
		&:hover{
			$shadow: 0 3px 6px rgba(0,0,0,.3);
			@include box-shadow($shadow);
		}
	}
	.link-title{
		display:table;
		width:100%;
		text-align:center;
		min-height:115px;
		span{
			display:table-cell;
			padding:6px 10px 10px;
			vertical-align:middle;
		}
	}
}
.promo-block{
	background: #fff;
	$shadow: 0 1px 4px rgba(0,0,0,.1);
	@include box-shadow($shadow);
	margin-bottom:40px;
}
.promo-img{
	text-align:center;
	.promo-img-inner{
		display:inline-block;
		vertical-align:top;
		padding:16px 31px 35px;
		font-family:$font-family-base;
		font-size:101px;
		line-height:120px;
		color:$brand-color-dark;
		font-weight:800;
		position:relative;
		.num:after,
		.num:before{
			content:'';
			position:absolute;
			left:9px;
			top:74px;
			width:2px;
			height:10px;
			background:$brand-color-dark;
		}
		.num:before{
			left:5px;
			top:78px;
			width:10px;
			height:2px;
		}
		.num-title{
			font-family:$font-family-sans-serif;
			font-size: 14px;
			line-height: 20px;
			font-weight: 600;
			letter-spacing: 1.5px;
			margin-top: -8px;
		}
	}
}
.promo-content{
	padding: 30px 50px 75px;
	font-size: 14px;
    line-height: 23px;
	ul{
		list-style-type:none;
		padding:0 0 27px;
		margin:0;
		li{
			padding-left:16px;
			position:relative;
			&:after{
				content:'';
				position:absolute;
				left:0;
				top:8px;
				width:5px;
				height:5px;
				background:#464646;
				border-radius:50%;
			}
		}
	}
	strong{
		font-weight:normal;
		color:$brand-color-dark;
	}
}
.footer-info{
	background:#fff;
	padding:30px 0 40px;
}
.news-block{
	padding-bottom:57px;
}
.news-item{
  padding-top:46px;
  padding-bottom:30px;
  position:relative;
  font-family:$font-family-serif;
  font-size:19px;
  $news-item-line-height: 28px;
  line-height:28px;
  letter-spacing:.5px;
  p{
  	margin:0 0 12px;
  	max-height: $news-item-line-height*2;
    overflow: hidden;
  }
  a{
  	font-family:$font-family-base;
  	font-size:15px;
  	line-height:22px;
  }
  &:after{
    content:'';
    position:absolute;
    left:$grid-gutter-width/2;
    right:$grid-gutter-width/2;
    top:0;
	border-top:1px solid #e5e5e5;
  }
}
.info-item{
	padding-bottom:37px;
	img{
		width:100%;
	}
}
.info-content{
	@extend .carousel-content;
	position:relative;
	border:1px solid #e1e1e1;
	&.diabet-sign:after{
		content:"";
		position:absolute;
		right:0;
		top:0;
		width:97px;
		height:97px;
		background:url('../../dist/images/cross-icon-white.png') 0 0 no-repeat;
	}
	h3{
		&:after{
			left:-19px;
			width:6px;
		}
	}
}


footer{
	background: url(../../dist/images/footer-bg.png) 50% 0 repeat-x;
	padding:85px 0 20px;
	
	color:#636363;
}
.footer-logo-col{
	text-align:center;
	float:none;
	padding: $grid-gutter-width $grid-gutter-width/2;
	a{
		display:inline-block;
		vertical-align:top;
	}
}
.footer-links{
	float:none;
	text-align:center;
	font-family:$font-family-sans-serif;
	font-size:13px;
	line-height:22px;
	letter-spacing:1px;
	ul{
		list-style:none;
		.separator{
			display:inline-block;
			vertical-align:top;
			padding-top:25px;
			width:10px;
			position:relative;
			&:after{
				content:'';
				position:absolute;
				left:0;
				top:50%;
				border-top: 1px solid #ccc;
				width:100%;
			}
		}
	}
	a{
		color:#636363;
		&:hover{
			color:$brand-color-dark;
		}
	}
}
address{
	margin-bottom:0;
	font-size:13px;
	line-height:22px;
	span{
		display:block;
	}
}
.copyright{
	margin:0;
	padding:60px 0 0;
	list-style-type:none;
	text-align:center;
	font-size: 13px;
	line-height: 22px;
	li{
		display:inline-block;
		vertical-align:top;
		&:not(:first-child){
			padding-left:30px;
			position:relative;
			&:after{
				content:'';
				position:absolute;
				left:15px;
				top: 5px;
    			bottom: 2px;
				width:1px;
				background-color:#ccc;
			}
		}
	}
}

@media only screen and (min-width: $screen-md-min){
	.top-panel > li{
		min-width:auto;
	}
	.navbar-nav{
		font-size:16px;
		line-height:20px;
	}
	.carousel-inner{
		.item{
			.col-md-6{
				position:static;
				float:none;
				display:inline-block;
				vertical-align:middle;
			}
			&:after{
				content:'';
				position:absolute;
				left:50%;
				top:50%;
				width:617px;
				height:589px;
				margin:-294px 0 0 -309px;
				background:url('../../dist/images/circle-full.png') 0 0 no-repeat;
			}
		}
	}
	.carousel-content{
		padding:10px 76px 51px;
		background:none;
		h3{
			font-size:36px;
			line-height:44px;
			letter-spacing: 0.1px;
		}
	}
	.info-content{
		padding:72px 83px 60px;
		min-height: 345px;
		h3{
			font-size: 31px;
			line-height: 39px;
			letter-spacing: 0.1px;
		}
	}
	.promo-block{
		background: #fff url(../../dist/images/circle-block.png) 100% 0 no-repeat;
		-webkit-background-size:auto 100%;
		background-size:auto 100%;
		position:relative;
	}
	.promo-content{
		max-width:45%;
		padding: 82px 0 75px 100px;
	}
	.promo-img{
		position:absolute;
		right:130px;
		top:50%;
		transform:translateY(-50%);
	}
	.footer-logo-col,
	.footer-links{
	    display: inline-block;
    	vertical-align: middle;
    	text-align:left;
	}
	address .phone{
		pointer-events:none;
	}
}